@font-face {
  /* imports Lato as page's font */
  font-family: "BIZUDPGothic";
  src: url("../fonts/BIZUDPGothic-Bold.ttf"),
    url("../fonts/BIZUDPGothic-Bold.ttf") format("truetype");
}

* {
  /* sets all tags in webpage to use Lato as font */
  font-family: "BIZUDPGothic", sans-serif;
}

.top-nav {
  display: flex;
  margin: auto;
  width: 98%;
}

.greeting-message {
  flex-grow: 1;
}

/*align text to the right*/
.logout-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/*logout image*/
.logout-img {
  width: 24px;
}
/*align title to center*/
#title {
  text-align: center;
}

/*feel free to change based on your design*/
#board {
  width: 80%;
  margin: auto;
}

.task-board {
  overflow: hidden;
}

/*style for collapsible control elements*/
.collapsible {
  width: 95%;
  height: 10px;
  font-size: larger;
  color: #03324a;
  background-color: #f8e1a6;
  border-radius: 5px;
  transition: all 0.2s;
  border-color: #f8e1a6fc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px 20px;
  margin-bottom: 2px;
  cursor: pointer;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5)
}

.collapsible:hover {
  background-color: #ffdb81;
}

/*Implement Collapsible function with two state*/
/*task list is shrinked, user can't view exact task*/
.shrink {
  display: none;
}

/*task list expands, user can view exact task*/
.expand {
  display: block;
}

/*style for checkbox*/
input[type="checkbox"] {
  accent-color: rgb(78, 146, 23);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/*style for input text box*/
input[type="text"] {
  background: #f4ecec;
  width: 40%;
  padding: 10px 10px;
  margin: 8px;
}

/*style for submit btn*/
button[type="submit"] {
  color: #03324a;
  padding: 5px 15px;
  background: transparent;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 10px;
  transition: all 0.15s;
}

button[type="submit"]:hover {
  color: #dddddd;
}

/*style for body*/
body {
  background-color: rgb(255, 245, 190);
  line-height: 1.9;
  padding: 0px 0px 20px;
}

/*style for title*/
h1 {
  color: #03324a;
}

/*style for add button*/
.addBtn {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 5px;
  background-color: #ffdb81;
  border: none;
  cursor: pointer;
  margin: 15px 0px 15px;
}

img[alt="addTask"] {
  width: 15px;
  margin-left: 2px;
}


/* Progress bar style */
svg {
  filter: drop-shadow(0 0 10px rgb(0 0 0 / 0.4));
}


#top-progbar-container{
  width: 60%;
  margin: auto;
  margin-bottom: 25px;
}

#top-progress-bar{
  background: #03324a;
  border-radius: 13px;
  height: 20px;
  width: 100%;
  margin-top: 20px;
  padding: 3px;
}

#top-progress{
  content: "";
  display: block;
  background: #ffc635;
  width: 0%;
  height: 100%;
  border-radius: 9px;
}


.progress-container {
  position: absolute;
  margin-left: 370px;
  background: #03324a;
  border-radius: 13px;
  height: 20px;
  width: 150px;
  padding: 3px;
}

@media only screen and (max-width: 1000px) {
  .progress-container {
    position: relative;
    margin-left: 100px;
    background: #03324a;
    border-radius: 13px;
    height: 20px;
    width: 120px;
    padding: 3px;
  }
  .task-status{
    display: none;
  }
}

.progress {
  content: "";
  display: block;
  background: #ffc021;
  width: 0%;
  height: 100%;
  border-radius: 9px;
}


