body {
    background-color: rgb(255, 245, 190);
    text-align: center;
}

#mainEle{
    display:grid;
    grid-template-columns: 1fr;
    grid-row: 5;
}


#usernameTxt, #passwordTxt{
    background-color: rgb(234, 231, 231);
}

/*
#welcomeHeading, #welcomeMessage{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

#usernameTxt, #passwordTxt{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;    
}           
#signUpMessage{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4; 
}

#submitButton{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5; 
}
*/

h1, h2{
    color: #03324A;
}

#submitButton{
    color: hotpink;
}

@font-face { /* imports Lato as page's font */
    font-family: "myFont";
    src: url("/BIZ_UDGothic/BIZUDGothic-Bold.ttf");
  }
  * { /* sets all tags in webpage to use Lato as font */
    font-family: "myFont";
  }